.magma-progress {
	border: 1px solid;
	background: #fff;
	box-sizing: border-box;
	height: 25px;
	margin: 10px 0;
	white-space: nowrap;
}

.magma-progress-indicator {
	background: #555;
	box-sizing: border-box;
	color: #fff;
	font-size: 12px;
	height: 23px;
	line-height: 23px;
	text-align: center;
}
