.magma-tabs {

	.magma-tabs-list {
		margin: 0;
		padding: 0;
		overflow: hidden;
	}

	.magma-tabs-list-item {
		background: #555;
		color: #fff;
		cursor: pointer;
		display: inline-block;
		margin-right: 5px;
		padding: 5px;
		list-style-type: none;
	}

	.magma-tabs-panel {
		border: 1px solid;
		display: block;
		padding: 5px;

		&.magma-hidden {
			display: none;
		}
	}
}
