.magma-selectbox {
	background: $magma--color-eta;
	border: 1px solid $magma--color-theta;
	border-radius: 4px;
	box-shadow: inset 0px 8px 5px -8px #ddd;
	color: $magma--color-delta;
	font-size: $magma--font-size-medium;
	height: 33px;
	width: 266px;
}
