$magma--color-alpha: #a31212;
$magma--color-beta: #620505;
$magma--color-gamma: #f3f3f3;
$magma--color-delta: #333;
$magma--color-epsilon: #666;
$magma--color-zeta: #aaa;
$magma--color-eta: #fff;
$magma--color-theta: #ddd;

$magma--font-size-small: 12px;
$magma--font-size-medium: 14px;
$magma--font-size-large: 18px;
