.magma-progress {
	border: 1px solid $magma-color-beta;
	border-radius: 5px;
}

.magma-progress-indicator {
	background: $magma-color-alpha;
	box-sizing: border-box;
	color: $magma-color-gamma;
	min-width: 25px;

	.magma-progress-indicator-animate & {
		transition: width 400ms;
	}
}
